.advantages{
  padding: 71px 0 95px;
  background: #F6F6F6;
  &__title {
    font-size: 30px;
    font-family: $museo700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 65px;
  }
  &__img{
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto 38px;
  }
  &__subtitle {
    font-size: 18px;
    font-family: $museo700;
    text-align: center;
    margin-bottom: 26px;
  }
  &__text{
    font-size: 14px;
    font-family: $museo300;
    text-align: center;
  }
  &__redText{
    color: $colorRed;
    text-transform: uppercase;
  }
}